ansible==10.4.0
colorama==0.4.6
paramiko==2.11.0
pytest==8.3.3
pyvmomi==6.7.1.2018.12
pywinrm==0.4.1
selenium==4.3.0
tox==4.18.1
veryprettytable==0.8.1
asyncio==3.4.3
setuptools~=74.1.2
aiosmtpd~=1.4.6