#### Contents of the preconfiguration file (for Ubuntu 16.04 Xenial)

## For a brief explanation refer: https://help.ubuntu.com/16.04/installation-guide/amd64/apb.html

## A sample preseed file with comments explaining each parameter can be found at:
## https://help.ubuntu.com/16.04/installation-guide/example-preseed.txt

d-i debian-installer/language string en
d-i debian-installer/country string DE
d-i debian-installer/locale string en_GB.UTF-8

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/layoutcode select us
d-i keyboard-configuration/variantcode string

d-i netcfg/get_hostname string logserver
d-i netcfg/get_domain string breach.local
d-i netcfg/hostname string logserver

d-i netcfg/wireless_wep string
d-i hw-detect/load_firmware boolean false
d-i mirror/http/mirror select de.archive.ubuntu.com
d-i mirror/suite string xenial

d-i passwd/root-login boolean true
d-i passwd/root-password password breach
d-i passwd/root-password-again password breach

d-i passwd/user-fullname string Breach
d-i passwd/username string breach
d-i passwd/user-password password breach
d-i passwd/user-password-again password breach
d-i user-setup/allow-password-weak boolean true

d-i user-setup/encrypt-home boolean false

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true

d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
d-i apt-setup/backports boolean true

tasksel tasksel/first multiselect standard

d-i pkgsel/include string openssh-server build-essential curl python3 sudo resolvconf
d-i pkgsel/language-packs multiselect de, en
d-i pkgsel/update-policy select none
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/updatedb boolean true

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

d-i finish-install/reboot_in_progress note

d-i partman/early_command \
       string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"
       
d-i preseed/late_command string                                                 \
		echo 'Defaults:breach !requiretty' > /target/etc/sudoers.d/breach;      \
		echo 'breach ALL=(ALL) NOPASSWD: ALL' >> /target/etc/sudoers.d/breach;  \
		chmod 440 /target/etc/sudoers.d/breach;                                 \
		in-target update-initramfs -u