input {
  kafka {
    bootstrap_servers => "{{ kafka_broker_ip }}:9092"
    codec => json
    topics => "wineventlog_processed"
  }
}

filter {
  mutate {
    add_field => { "[@metadata][indexname]" => "%{[beat][hostname]}" }
  }
  mutate {
    lowercase => "[@metadata][indexname]"
  }
}

output {
  elasticsearch {
    id => "elasticsearch_wineventlog_output"
    hosts => ["172.16.0.3:9200"]
    index => "winlogbeat-%{[@metadata][indexname]}-%{+YYYY.MM.dd}"
  }
}
